@import "/brandColors";

.RegHeading {
    text-align: center;
    color: $brand-white;
}

.RegSubHeading {
    margin: auto 30px;
    color: $brand-white;
    font-family: Roboto;
    font-weight: 500;
    text-align: left;
}

.RegText {
    margin: 8px 30px;
}

.RegButton {
    margin-top: 10px;
    /* margin-bottom: 2px; */
    font-size: 0.8em;
    /* margin-right: 12px; */
    padding-top: 2px;
    width: 120px;
    font-family: 'Roboto';

    &:disabled {
        opacity: 0.65; 
        cursor: not-allowed;
    }
}

.RegInput {
    min-Height: 26px;
    font-size: 12px;
    padding: 0 15px;
    margin: 8px 30px;
    width: -webkit-fill-available;
    background-color: #070707;
    border-radius: 5px;
    border: 1px solid #7a7a7a;
    color: #7a7a7a;

    &:focus {
        border-color: #fff;
        outline: none;
        box-shadow: 0 0 4pt 0.5pt #7a7a7a;
        color: #fff;
    }

    &:hover {
        -webkit-box-shadow: 0 0 4pt 0.5pt #7a7a7a;
        box-shadow: 0 0 4pt 0.5pt #7a7a7a;
        border-color: #fff;

    }

  }
